* {
    margin: 0;
}
html {
    font-size: 10px;
}
div {
    border: 2px solid gray;
}

h2 {
    font-size: 40px;
}
p {
    font-size: 20px;
}

.pixels h2 {
    background: blue;
    color: white;
    width: 600px;
}
.pixels p {
    background: gray;
    color: white;
}

.percent {
    width: 100%;
}

.percent h2 {
    width: 90%;
    background: green;
    color: white;
}
.percent p {
    color: white;
    background: blue;
}
.em h2 {
    font-size: 3em;
}

.em p {
    font-size: 1em;
}

.rem h2 {
    font-size: 5rem;
}

.view p {
    font-size: 10vh;
}
