* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    min-height: 100vh;
    background: url(./hero.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    text-transform: uppercase;
    font-size: 4rem;
    text-shadow: 5px 5px 15px red;
    text-align: center;
}

.banner {
    background: blue;
    height: 100vh;
}
