body {
    /* background: rgb(100, 34, 210); */
}
#first {
    color: white;
    background-color: black;
}

#second {
    color: red;
    background-color: yellow;
}

#third {
    color: rgb(0, 0, 255);
}

#forth {
    background: rgba(255, 0, 0, 0.2);
}

#fifth {
    color: #00ff00;
}
