* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --line-height: 1.5;
    --primary: #c4bbb8;
    --primary-dark: #39375b;
    --grey-light: #9da3a4;
    --caramel: #c08552;
    --grey-dark: #5a5766;
    --fluid-width: 90vw;
    --max-width: 1170px;
    --black: #222;
    --white: #fff;
    --letter-spacing: 2px;
    --border-radius: 0.15rem;
    --shadow-light: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-dark: 0 5px 15px rgba(0, 0, 0, 0.3);
    --transition: 0.5s ease-in-out all;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS',
        sans-serif;
    line-height: var(--line-height);
    background: var(--primary);
    color: var(--primary-dark);
}
.blogs {
    padding: 5rem 0;
}
.section-title {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    /* margin-bottom: 2rem; */
    font-size: 1.5rem;
}
.title-underline {
    width: 7rem;
    height: 0.3rem;
    background: var(--black);
    margin: 0 auto 2rem;
    border-radius: var(--border-radius);
}
.blogs-center {
    width: var(--fluid-width);
    max-width: var(--max-width);
    margin: 0 auto;
}
.blog {
    background: var(--white);
    /* repeating-linear-gradient(
        45deg,
        #22222231,
        #22222231 10px,
        #3311b92c 10px,
        #5a576646 20px
    ); */
    padding: 2rem;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-light);
    margin-bottom: 2rem;
    transition: var(--transition);
}
.blog:hover {
    box-shadow: var(--shadow-dark);
    transform: translateY(-10px);
}
.blog span {
    text-transform: uppercase;
    color: var(--caramel);
    letter-spacing: var(--letter-spacing);
    font-weight: bold;
}
.blog h3 {
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
}
.blog p {
    color: var(--grey-light);
    margin-bottom: 1rem;
}
.blog a {
    text-transform: capitalize;
    letter-spacing: var(--letter-spacing);
    font-weight: 500;
}
.blog-img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
}
