* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background: #f1f5f9;
}

.cards {
    background: #fff;
    padding: 1rem;
    max-width: 400px;
    margin: 2rem auto;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid red;
}
.title {
    text-transform: capitalize;
    letter-spacing: 3px;
}
.text {
    line-height: 1.5;
    color: #64748b;
    margin: 1rem auto;
}
.btn {
    text-transform: capitalize;
    border: transparent;
    border-radius: 0.5rem;
    letter-spacing: 2px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
}
.btn-pink {
    background: #ffe8f1;
    color: #ff69a6;
}
.btn-blue {
    background: #ecf4ff;
    color: #68a3ff;
}
.circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 0.5rem auto;
}
.card-1 {
    border-color: #ff69a6;
}
.card-2 {
    border-color: #68a3ff;
}
.card-1 .circle {
    background: #ff69a6;
}
.card-2 .circle {
    background: #68a3ff;
}
