:root {
    --main-heading: green;
}

h1 {
    color: var(--main-heading);
    text-shadow: 5px 5px 5px blue;
}
h2 {
    color: var(--main-heading);
    box-shadow: 5px 10px 5px red;
}

h3 {
    color: red;
}
