* {
    margin: 0;
    box-sizing: border-box;
}
.box {
    width: 200px;
    height: 200px;
    background: orange;
    margin-bottom: 1rem;
}

.special {
    position: relative;
}

.special h1 {
    position: absolute;
    inset: 10px 30px 50px 20px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
}
