.big-img {
    background: linear-gradient(
            to top right,
            rgba(0, 0, 0, 0.3),
            rgba(0, 0, 0, 0.3)
        ),
        url('./big_images.jpeg') center/cover no-repeat fixed;
    color: white;
}

.small-img {
    background: url('./img/small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.folder-img {
    background: url('./img/folder-img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div {
    width: 150px;
    height: 150px;
    margin: 5px;
}

.one {
    background: linear-gradient(red, blue, green);
}

.two {
    background: linear-gradient(to right, red, yellow, green, blue);
}
.three {
    background: linear-gradient(45deg, red, green, blue);
}

.four {
    background: linear-gradient(to top right, yellow, blue);
}

.five {
    background: linear-gradient(blue 50%, yellow 60%);
}

.six {
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9));
}
